#services{
    padding-top:100px;
    .rectangle{
        height: 301px;
        background-color:$second-color;
        color:white;
        margin-top:50px;
        text-transform: uppercase;

        div{
          
           padding-top:120px;
            span{
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
    .startup{
        padding-bottom:50px;
        height:auto;
        clear:both;
        .col-md-3{
            padding-right:0px;
            padding-left:30px;
            i{
                padding:12px 0px;
                background-color:$main-color;
                width:68px;
                height: 68px;
                &:hover{
                    color:white;
                    background-color:$fourth-color;
            } 
        }
             
        }
        .col-md-9{
           padding-left:0px;
            
        }
    }
}