.pageSlider{
    background-color:$second-color;
    padding:110px 0px;
    margin-bottom:100px;
    color:white;
    text-transform: uppercase;
    span{
        font-size: 30px;
    }
    h1{
        font-size: 48px;
    }
    h6{
        font-size: 14px;
    }
}