#blogPage{
    padding-bottom:100px;
    border-bottom:1px solid lighten($second-color,35%);
    .col-md-9{
        .col-md-12{
            padding:75px 0px;
            border-bottom:1px solid lighten($second-color, 35%);
            &:nth-child(4),&:last-child{
                border:none;
                padding:75px 0px 0px;
            }
            div{ 
                width:100%;
                margin-bottom:40px;
                video,audio{
                    width:100%;
                }
                i{
                    box-sizing:padding-box;
                    width:26px;
                    height:26px;
                    border-radius:50%;
                    background-color:white;
                    text-align:center;
                    font-weight:bold;
                    font-size:25px;
                    margin:150px 30px;
                    color:$second-color;
                    &:hover{
                        opacity:0.8;
                    }
                }
            }
           .img-bg{
                background: url('../../images/img12.jpg');
                background-position: center;
               background-size:cover;
                height:334px;
                display:flex;
                justify-content:space-between;
            }
            h3{
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                margin:20px 0px;
            }
            span{
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 700;
                
                font{
                    color:$fourth-color;
                }
                &:nth-child(3){
                    border-right: 2px solid $text-color;
                    padding-right:10px;
                }
                &:nth-child(4){
                    padding-left:10px;
                } 
            }
            p{
                text-align:justify;
                margin:40px 0px;
            }
        }
        .pagination{
            li{
                a{
                    border:none;
                    width: 43px;
                    height: 43px;
                    margin-right:10px;
                    border-radius:0;
                    padding:10px 0;
                    background-color:$third-color;
                    color:white;
                    font-size: 18px;
                    font-weight: 700;
                        &:hover{
                            background:$fourth-color;
                        }
                }
                &:nth-child(5){
                    a{
                        color:black;
                        background-color:white;
                    }
                }
            }
        }
    }
}