#contactPage{
    .container{
        & >.row:nth-child(2){
            height: 417px;
            background: url('../../images/img11.png');
            background-position:center;
        }
        & > .row:nth-child(3){
            .col-md-4{
                border-bottom:1px solid lighten($second-color,35%);
                height:300px;
                padding:75px 0px;
                i{
                    width: 63px;
                    line-height: 63px;
                    border-radius: 50%;
                    border:2px solid $third-color;
                    
                    margin-bottom:25px;
                }
                span{
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
        }
        
    } 
}