#portfolioPage{
    .row{
        .hoverDiv{
                position:relative;
                text-align:center;
                height: inherit;
                background: white;
                opacity:0;
                transition: all 0.5s ease;
                &:hover{
                    opacity:1;
                } 
                span{
                    position:absolute;
                    top:50%;
                    left:calc(50% - 50px);
                    font-size: 14px;
                    text-transform:uppercase;
                    line-height:inherit;
                }
            }
        .col-md-3{
            //1st column
            &:first-child{
                &>div{
                    box-sizing: content-box;
                    padding:10px;
                    height:241px;
                    background: url('../../images/img1.jpg');
                    background-position: center;
                    margin-bottom:30px;
                }
            }
            //2nd column
            &:nth-child(2){
                &>div{
                    box-sizing: content-box;
                    padding:10px;
                    margin-bottom:30px;
                    &:first-child{
                        height:323px;
                        background: url(../../images/img3.jpg);
                    }
                    &:nth-child(2){
                        height: 130px;
                        background: url(../../images/img2.jpg);
                    }
                    
                    &:nth-child(3), &:last-child{
                        height:150px;
                        background: url(../../images/img4.jpg);
                    }
                }
            }
            //3rd column
            &:nth-child(3){
                &>div{
                    box-sizing: content-box;
                    padding:10px;
                    margin-bottom:30px;
                    &:first-child{
                        height: 173px;
                        background: url(../../images/img5.jpg);
                    }
                    &:nth-child(2), &:last-child{
                        height: 373px;
                        background: url(../../images/img3.jpg);
                    }
                    
                }
            }
            //4th column
            &:last-child{
                &>div{
                    box-sizing: content-box;
                    padding:10px;
                    margin-bottom:30px;
                    &:first-child, &:nth-child(2){
                        height: 307px;
                        background: url(../../images/img6.jpg);
                    }
                    &:last-child{
                        height: 347px;
                        background: url(../../images/img7.jpg);
                    }
                }
            }
        }
    }
}

//Portfolio_Two

#portfolioPage_two{
    .row{
        .col-md-6{
            &>div{
                height: 360px;
                padding:10px;
                margin-bottom:30px;
                box-sizing: content-box;
                background: url(../../images/img8.jpg);
            }
        }
    }
}